<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/process-login}" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>
        <button type="submit" >Login</button>
        <p th:if="${param.error}" style="color: red;">Invalid email or password</p>
    </form>

    <p>
        Don't have an account?
        <a th:href="@{/auth/register}">Register here</a>
    </p>

</div>
</body>
</html>
