<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Accounts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="profile">
        <div class="profile-pic"
             th:text="${customer.getName().charAt(0)}">
        </div>
        <div class="profile-name" th:text="${customer.name}"></div>
        <div class="arrow">›</div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-item first" onclick="window.location.href='/my_accounts/';">🔑 My Accounts</div>
    <div class="sidebar-item" onclick="window.location.href='/transaction/';">💰 Transactions</div>
    <div class="sidebar-item" onclick="window.location.href='/logout';">🚪 Log Out</div>
</div>

<div class="main-content">
    <h1>My Accounts</h1>

    <p th:if="${success}" style="color: green; font-weight: bold;" th:text="${success}"></p>
    <p th:if="${error}" style="color: red; font-weight: bold;" th:text="${error}"></p>

    <div class="buttons">
        <div th:each="account : ${account_list}">
            <a th:href="@{/my_accounts/{id}(id=${account.id})}" class="button">
                <span th:text="${account.name}"></span>
            </a>
        </div>
    </div>
</div>

<div class="right-buttons">
    <button class="right-button" onclick="window.location.href='/my_accounts/create_checking_account';">Add Checking Account</button>
    <button class="right-button" onclick="window.location.href='/my_accounts/create_saving_account';">Add Saving Account</button>
</div>

</body>
</html>
